#profile_pic {
    height: 12em;
}

.social-icon {
    height: 50px;
}

body {
    color: #000080;
    background-color: #d0d0ff;
}

a {
    color: brown;
}

#Summary {
    color:black
}

.blue-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: inherit;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
}

hr {
    height: 1px;
    width: 100%;
    color: #000040;
    background-color: #000040;
    border: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}