h1 {
    font-size: 5em;
}

#profile_pic {
    height: 400px;
}

.social-icon {
    height: 50px;
}

body {
    color: #000080;
    background-color: #d0d0ff;
}

a {
    color: brown;
}

#Summary {
    color:black
}

name {
    font-size: 22px;
}
